services:
  postgres:
    image: postgres:alpine
    container_name: bulagfaust-postgres
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - db-network

  adminer:
    image: adminer:latest
    container_name: bulagfaust-adminer
    ports:
      - "8081:8080"
    depends_on:
      - postgres
    networks:
      - db-network

volumes:
  pgdata:

networks:
  db-network:
    driver: bridge
